.about{
    background-color: #fffbeb;
}
.details{
    display: flex;
    padding: 70px 0px;
    gap: 150px;
}
.detail-box{
    width: 700px;
    height: 550px;
    background-color: #4f4f55;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-box h1{
    color: black;
    font-size: 50px;
}
.detail-box span{
    color: rgb(184, 29, 55);
}
.detailed{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.detailed p{
    width: 570px;
}

@media (max-width: 900px){
    .details{
        flex-direction: column;
        gap: 30px;
    }
    .detail-box{
        height: 200px;
        width: 870px;
    }
    .detailed{
        padding: 0px 30px;
    }
    .detailed p{
        width: 820px;
    }
}

@media (max-width: 428px){
    .detail-box{
        width: 410px;
    }
    .detailed h1{
        font-size: 40px;
        font-weight: 700;
        font-family: sans-serif;
    }
    .detailed p{
        width: 330px;
        font-family: sans-serif;
        font-size: 17px;
        line-height: 25px;
        color: #4f4f55;
        font-weight: 500;
    }
}