.reach-out{
    background-color: #fffbeb;
    padding: 150px 250px;
}
.reachout-box{
    width: 1000px;
    height: 600px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.reachoutdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.reachoutdetails h1{
    font-size: 35px;
    margin-top: 70px;
}
.reachoutdetails p{
    width: 450px;
    text-align: center;
}
.reachoutdetails input{
    width: 650px;
    height: 50px;
    border: 1px solid #d1d5db;
    background-color: #e9e9eb;
    border-radius: 5px;
    padding: 10px;
}
.reachoutdetails input:nth-child(5){
    height: 100px;
}
.li{
    display: flex;
    background-color: #fbbf24;
    color: white;
    text-decoration: none;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}


@media (max-width:900px){
    .reach-out{
        padding: 150px 50px;
    }
    .reachout-box{
        width: 780px;
        height: 650px;
    }
    .reachoutdetails{
        gap: 30px;
    }
    .reachoutdetails h1{
        font-size: 25px;
    }
    .reachoutdetails p{
        width: 800px;
        font-size: 15px;
    }
    .reachoutdetails input{
        width: 730px;
        height: 60px;
    }
}

@media (max-width:428px){
    .reach-out{
        padding: 150px 30px;
    }
    .reachout-box{
        width: 360px;
    }
    .reachoutdetails p{
        width: 280px;
    }
    .reachoutdetails input{
        width: 320px;
    }
}